# TomahawkOS Init Configuration
# Syntax: key=value
# Lines starting with '#' are comments; blank lines are ignored.
#
hostname=Lorderon
username=guest
loglevel=3
shell=/bin/shell
autostart=none
max_procs=16
log_to_serial=yes
